{block content}
	<div class="row">
		<div class="col-sm-12 form-group">
			<a n:href="Slider:add" class="btn btn-success btn-sm">
				<span class="glyphicon glyphicon-plus"></span> {_"Přidat obrázek do slideru"}
			</a>
		</div>
	</div>
	{snippet grid}
		{control grid}
	{/snippet}
{/block}

{block title}{_'Administrace obrázků ve slideru'} |&nbsp;{/block}
