{block content}
    <div class="row">
        <div class="col-sm-12 form-group">
            <a n:href="Users:add" class="btn btn-success btn-sm">
                <span class="glyphicon glyphicon-plus"></span> Přidat uživatele
            </a>
        </div>
    </div>
    {snippet grid}
        {control grid}
    {/snippet}
{/block}
 
{block title}Výpis uživatelů |&nbsp;{/block}