application:
	logout: "Odhlásit"
	login: "Přihlásit"

settings:
	title: "Nastavení aplikace"
	siteName: "Název stránek"
	plsSiteName: "Zadej prosím název stránek"
	siteNameTitle: "Název stránek"
	siteNameContent: "Název stránek"
	adminMail: "E-mail administrátora stránek"
	plsAdminMail: "Zadej prosím e-mail administrátora stránek"
	adminMailTitle: "E-mail administrátora stránek"
	adminMailContent: "E-mail administrátora stránek"
	noreplyMail: "Noreply e-mail"
	noreplyMailTitle: "Noreply e-mail"
	noreplyMailContent: "Noreply e-mail"
	motto1: "Motto - řádek 1"
	motto1Title: "Motto - řádek 1"
	motto1Content: "Motto - řádek 1"
	motto2: "Motto - řádek 2"
	motto2Title: "Motto - řádek 2"
	motto2Content: "Motto - řádek 2"
	template: "Šablona"
	templateTitle: "Šablona"
	templateContent: "Šablona"
	templatePreview: "Náhled šablony"
	smtpServer: "SMTP server"
	smtpServerTitle: "SMTP server"
	smtpServerContent: "SMTP server"
	smtpPort: "SMTP port"
	smtpPortTite: "SMTP port"
	smtpPortContent: "SMTP port"
	smtpUsername: "SMTP přihlašovací jméno"
	smtpUsernameTitle: "SMTP přihlašovací jméno"
	smtpUsernameContent: "SMTP přihlašovací jméno"
	smtpPassword: "SMTP přihlašovací heslo"
	smtpPasswordTitle: "SMTP přihlašovací heslo"
	smtpPasswordContent: "SMTP přihlašovací heslo"
	smtpSecure: "SMTP zabezpečení"
	smtpSecureTitle: "SMTP zabezpečení"
	smtpSecureContent: "SMTP zabezpečení"
	useMail: "Používat místo SMTP funkci mail()"
	footerScript: "Vlastní javascript v patičce"
	footerScriptTitle: "Vlastní javascript v patičce"
	footerScriptContent: "Vlastní javascript v patičce"
	thanksPage: "Děkovná stránka po odeslání formuláře"
	thanksPageTitle: "Děkovná stránka po odeslání formuláře"
	thanksPageContent: "Děkovná stránka po odeslání formuláře"
	btnSubmit: "Odeslat"
	showAsBlog: "Zobrazit stránky jako blog"
	pagesPerPage: "Počet stránek ve výpisu blogu"
	pagesPerPageTitle: "Počet stránek ve výpisu blogu"
	pagesPerPageContent: "Počet stránek ve výpisu blogu"
	rowInRss: "Počet řádků v RSS"
	rowInRssTitle: "Počet řádků v RSS"
	rowInRssContent: "Počet řádků v RSS"
	logo: "Logo"
	logoTitle: "Logo"
	logoContent: "Logo"

users:
	title: "Administrace uživatelů"
	add: "Přidat uživatele"
	edit: "Editace uživatele"
	login: "Login"
	loginPlaceholder: "Přihlašovací jméno"
	plsLogin: "Zadej prosím své přihlašovací jméno"
	loginTitle: "Přihlašovací jméno"
	loginContent: "Přihlašovací jméno"
	password: "Heslo"
	passwordTitle: "Heslo"
	passwordContent: "Heslo"
	passwordPlaceholder: "Heslo"
	password2: "Heslo pro kontrolu"
	password2Title: "Heslo pro kontrolu"
	password2Content: "Heslo pro kontrolu"
	password2Placeholder: "Heslo pro kontrolu"
	equalPassword: "Hesla musí být stejná"
	name: "Jméno"
	namePlaceholder: "Jméno"
	nameTitle: "Jméno"
	nameContent: "Jméno"
	lastName: "Příjmení"
	lastNamePlaceholder: "Příjmení"
	lastNameTitle: "Příjmení"
	lastNameContent: "Příjmení"
	email: "Email"
	emailPlaceholder: "Email"
	emailTitle: "Email"
	emailContent: "Email"
	validEmail: "Prosím zadej e-mailovou adresu ve správném tvaru"
	roleTitle: "Role"
	roleContent: "Role"
	role:
		guest: "Host"
		registered: "Registrovaný host"
		user: "Pověřený uživatel"
		admin: "Administrátor"
	btnSubmit: "Odeslat"

pages:
	title: "Administrace stránek"
	add: "Přidat stránku"

sign:
	username: "uživatelské jméno"
	pls_username: "Zadej prosím své uživatelské jméno"
	password: "heslo"
	pls_password: "Zadej prosím své heslo"
	in: "Přihlášení"
	btn_in: "Přihlásit"
	up: "Registrace"
	btn_up: "Registrovat"
	out: "Odhlásit"
	keep: "Neodhlašovat"
	remember: "Zapomenuté heslo"
	show: "Zobrazit"
	email: "email"
	pls_email: "Zadej prosím email, který běžně používáš"
	name: "Jméno"
	pls_name: "Zadej prosím své křestní jméno"
	lastname: "Příjmení"
	pls_lastname: "Zadej prosím své Příjmení"
	btn_reset_password: "Resetovat heslo"
	remember_mail_title: "Obnovení zapomenutého hesla"
	signed_out: "Tak jsi odhlášen"

other:
	or: "nebo"

news:
	news: "Novinky"

comments:
	comments: "Komentáře"
	name: "Jméno"
	text: "Text"
	btnSubmit: "Přidat komentář"
	thanks: "Díky za komentář. Prosím o chvilku trpělivosti než bude schválen"

msg:
	create_record: "Záznam byl vytvořen"
	update_record: "Změny byly uloženy"
	username_exist: "Uživatel s tímto username již existuje."
	useremail_exist: "Uživatel s tímto emailem již existuje."
	user_not_exist: "Nepodařilo se dohledat žádného existujícího uživatele."
	fill_one_field: "Musíš vyplnit alespoň jedno z polí."
	valid_email: "Prosím zadej e-mailovou adresu ve správném tvaru"
	pass_has_change: "Heslo bylo změněno. Můžeš se přihlásit"

blog:
	blog: "Poslední články"

search:
	term: "Hledaný výraz"
	plsTerm: "Zadej hledaný výraz"